/*.boardArticle table {width:720px}

.boardArticle th {padding:5px 0;border-top:2px solid #666;border-bottom:1px solid #666}

.boardArticle td {padding:8px 0;border-bottom:1px solid #666}
.boardArticle .no {width:60px;text-align:center}
.boardArticle .title {}
.boardArticle .author {width:100px;text-align:center}
.boardArticle .date {width:100px;text-align:center}
.boardArticle .hit {width:40px;text-align:center}
*/
.boardArticle {width: 720px;}

/* 글목록 */

.boardArticle table {width: 720px;}

.boardArticle th {padding: 5px 0; border-top: 2px solid #666; border-bottom: 1px solid #666;}
/*.boardArticle tr: hover {background: #eee;}*/
.boardArticle td {padding: 8px 0; border-bottom: 1px solid #666;}

.boardArticle .no {width: 60px; text-align: center;}
.boardArticle .author {width: 100px; text-align: center;}
.boardArticle .date {width: 100px; text-align: center;}
.boardArticle .hit {width: 40px; text-align: center;}

.boardArticle .btnSet {text-align: right;}

.boardArticle .paging {text-align: center;}
.boardArticle .paging li {display: inline-block; height: 20px; margin: 0 5px; padding: 0 5px; border: 1px solid #666; background: #eee; line-height: 21px;}

.boardArticle .paging li.current,
.boardArticle .paging li:hover a { color: #ddd;}

.boardArticle .paging li.current,
.boardArticle .paging li:hover {background: #999; }

.boardArticle .searchBox{text-align: center;}

/* 글쓰기 */

.boardWrite table {width: 720px;}
.boardWrite th {width: 100px; padding: 5px; text-align: right; vertical-align: top;}
.boardWrite td {width: 620px; padding: 5px;}

.boardWrite #bID {width: 180px;}
.boardWrite #bPassword {width: 180px;}
.boardWrite #bTitle {width: 400px;}
.boardWrite #bContent {width: 550px; height: 300px;}

.boardWrite .btnSet {text-align: center;}

/* 글읽기 */

.boardView #boardTitle {border-bottom: 2px solid #333;}
.boardView #boardInfo {margin: 10px 0;}
.boardView #boardContent {margin: 10px 0;}
.boardView .btnSet {text-align: right;}
.boradview #boardTitle {width: 500px;}

	/* 댓글 쓰기*/
	#boardComment table {width: 100%;}
	#boardComment table th {width: 100px; padding: 0 5px; text-align: right; vertical-align: middle;}
	#boardComment table td {padding: 5px; text-align: left;}

	#boardComment #coContent {width: 99%; height: 120px;}

	#commentView ul {list-style: none; margin: 0; padding:0;}
	#commentView .oneDepth {margin: 10px 0; padding: 10px; background: #eee;}
	#commentView .twoDepth {margin: 20px; padding: 10px; background: #fff;}
	#commentView .commentInfo {overflow: hidden;}
	#commentView .commentId {float: left;}
	#commentView .commentBtn {float: right;}
	#commentView .commentContent {clear: both;}


/* 글삭제 */


.boardDelete table {width: 720px;}
.boardDelete tbody th {width: 100px; padding: 5px; text-align: right; vertical-align: top;}
.boardDelete tbody td {width: 620px; padding: 5px;}
.boardDelete .btnSet {text-align: center;}


.textCenter {text-align: center;}
